{:deps     {:aliases [:cljs]}

 :nrepl    {:port    9001
            :init-ns utils}

 :dev-http {9000 "public"}

 :builds
           {:app  {:target     :browser
                   :output-dir "public/js"
                   :modules    {:main {:entries [exercise.core]}}
                   :devtools   {:repl-pprint  true
                                :repl-init-ns exercise.core
                                :after-load   exercise.core/start}}
            :test {:target    :browser-test
                   :test-dir  "output/test"
                   :ns-regexp "-test$"
                   :devtools  {:http-port 9002
                               :http-root "output/test"}}}}
